body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}

#chessboard {
    display: grid;
    grid-template-columns: repeat(8, 50px);
    grid-template-rows: repeat(8, 50px);
    border: 2px solid #333;
}

.square {
    width: 50px;
    height: 50px;
    background-color: #eee;
}

.square:nth-child(even) {
    background-color: #ddd;
}

.square:nth-child(odd) {
    background-color: #eee;
}

.square.white {
    background-color: white;
}

.square.black {
    background-color: black;
}

.piece {
    font-size: 2em;
    text-align: center;
    line-height: 50px;
}
